.div-main {
    justify-content: center;
}
.ctn-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    height: fit-content;
}
.ctn-gallery h2 {
    text-align: center;
    align-self: center;
    width: 100%;
    color: var(--twilight-lavender);
    font-size: 3.2vw;
    margin: 3vw 0vw 5vw;
}
.ctn-gallery-img {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--snow);
    border-radius: 8px;
}
.ctn-gallery-img img {
    border-radius: 8px;
}